.login {
  color: black;
  background-color: white;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  font-family: "Open Sans", "Helvetica Neue";
  font-size: 18px;
  transition-duration: 0.3s;
}

.login:hover {
  color: white;
  background-color: black;
}
