@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.woff") format("woff"),
    url("../fonts/montserrat.woff2") format("woff2");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --primary-color: #00852e;
}

:root.dark {
  --background: #121212;
  --primary-color: #00d54b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--color-background);
  color: black;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  transition: background 1s ease-in-out;
}

main {
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: center;
  align-items: center;
  margin: auto;
}
